
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* nav style */
.header{background-image: url(/photo/developer.png) , url(/photo/header_bg.png);
background-repeat: no-repeat;
background-position: top left ,bottom right;}


nav{ display: flex; align-items: center; justify-content: space-between;
margin: 0 200px;}
.nav-title{ font-weight: 800; font-size: 45px;}
/* primary-text */
.priary-text{ color: #FD6E0A;}
nav ul li{ list-style: none; margin-right: 51px;}
nav li a{ text-decoration: none; color: #474747; font-size: 20px}
nav ul{ display: flex; align-items: center; }
/* primary-btn */
.primary-btn{ color: white; background-color: #FD6E0A;
font-weight: bold; border: none;
font-size: 25px; padding: 18px 20px; border-radius: 5px;}

/* section  */
.secondary-bg{ background-color: #FFF8F3;}

.sectiom-title{ font-size: 45px;
font-weight: bold;
 color: #181818;}

 .sectiom-description{ font-size: 18px; color: #474747;}


/* banner */
.banner{ display: flex; justify-content: space-between; margin: 0 35px 0 200px ;}
.banner-content{ max-width: 580px;}
.banner-greetings{ font-size: 45px;
font-weight: 600; color: #474747;}
.banner-title{ font-weight: bold;
font-size: 85px;}
.banner-profile-pic{width: 580px;}

/* about  */
.about{ border-radius: 10px;
 padding: 130px 150px;
text-align: center;}

.item-description{ font-weight: bold; }
.about-items{display: flex; justify-content: space-around;}

/* main  */
main{ max-width: 1140px;
margin: 0  auto;}
  

/* text-center */
.text-center{ text-align: center;}

/* skill-container */
.skill-container{ display: flex; gap: 24px;}
.skill{ padding: 30px ;
  border-radius: 5px;
box-shadow: 0 6px 50px 0px rgba(0, 0, 0, 0.06);} 
main section{ margin-top: 130px;}

/* resume styl  */

.resume-container{ display: flex; gap:  71px;}

.experience-title{ font-size: 25px; font-weight: bold;}
.experience-subtitle{ font-weight: ; font-size: 20px; color: #474747;}
.experience-description{ font-size: 16px; color: #474747;}
 .resume-btn{ margin: 50px; border-radius: 10px;}
 footer{ display: flex; padding: 130px 230px; gap: 100px;}
 .footer-column{ width: 50%;}
 input[type="text"]{ height:  64px; border-radius: 5px;
  background-color: white; width: 100%;
 padding: 10px 20px; margin-bottom: 24px;}
  input[type="email"]{ height:  64px; border-radius: 5px;
  background-color: white; width: 100%;
 padding: 10px 20px; margin-bottom: 24px;}
 .message{ border-radius: 5px; height: 180px;
  background-color: white; width: 100%; padding: 10px 20px; margin-bottom: 24px;}